In [93]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [96]:
data = pd.read_csv("all_season_batting_card.csv")

print(len(data))

data = data[:8700]

print(len(data))

15720
8700

In [97]:
data = data.drop(['match_name', 'link','minutes', 'commentary', 'shortText', 'fullName', 'runningScore', 'city','home_team','away_team','current_innings'], axis=1)

In [98]:
data['captain'] = data['captain'].apply(lambda x: 1 if x==True else 0)
data['isNotOut'] = data['isNotOut'].apply(lambda x: 1 if x==True else 0)

In [99]:
data.head()

,season,match_id,venue,country,innings_id,name,runs,ballsFaced,fours,sixes,strikeRate,captain,isNotOut,runningOver
0,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,DP Conway,1.0,6.0,0.0,0.0,16.66,0,0,2.2
1,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,RD Gaikwad,92.0,50.0,4.0,9.0,184.00,0,0,17.1
2,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,MM Ali,23.0,17.0,4.0,1.0,135.29,0,0,5.5
3,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,BA Stokes,7.0,6.0,1.0,0.0,116.66,0,0,7.4
4,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,AT Rayudu,12.0,12.0,0.0,1.0,100.00,0,0,12.5

In [100]:
le = LabelEncoder()
data['name'] = le.fit_transform(data['name'])
# print(data)
# data['name'][:120:5]

In [101]:
data.head()

,season,match_id,venue,country,innings_id,name,runs,ballsFaced,fours,sixes,strikeRate,captain,isNotOut,runningOver
0,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,94,1.0,6.0,0.0,0.0,16.66,0,0,2.2
1,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,290,92.0,50.0,4.0,9.0,184.00,0,0,17.1
2,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,218,23.0,17.0,4.0,1.0,135.29,0,0,5.5
3,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,55,7.0,6.0,1.0,0.0,116.66,0,0,7.4
4,2023.0,1359475,"Narendra Modi Stadium, Motera, Ahmedabad",India,1,33,12.0,12.0,0.0,1.0,100.00,0,0,12.5

In [102]:
le = LabelEncoder()
data['venue'] = le.fit_transform(data['venue'])
data['country'] = le.fit_transform(data['country'])

In [103]:
data.head()

,season,match_id,venue,country,innings_id,name,runs,ballsFaced,fours,sixes,strikeRate,captain,isNotOut,runningOver
0,2023.0,1359475,15,0,1,94,1.0,6.0,0.0,0.0,16.66,0,0,2.2
1,2023.0,1359475,15,0,1,290,92.0,50.0,4.0,9.0,184.00,0,0,17.1
2,2023.0,1359475,15,0,1,218,23.0,17.0,4.0,1.0,135.29,0,0,5.5
3,2023.0,1359475,15,0,1,55,7.0,6.0,1.0,0.0,116.66,0,0,7.4
4,2023.0,1359475,15,0,1,33,12.0,12.0,0.0,1.0,100.00,0,0,12.5

In [104]:
# Before fitting we need to fill the missing data
data.isna().sum()

season           36
match_id          0
venue             0
country           0
innings_id        0
name              0
runs              1
ballsFaced        1
fours             1
sixes             1
strikeRate        1
captain           0
isNotOut          0
runningOver    2034
dtype: int64

In [106]:
data['runs'].fillna(0,inplace=True)
data['ballsFaced'].fillna(0,inplace=True)
# data['minutes'].fillna(0,inplace=True)
data['fours'].fillna(0,inplace=True)
data['sixes'].fillna(0,inplace=True)
data['strikeRate'].fillna(0,inplace=True)
data['runningOver'].fillna(0,inplace=True)

data.dropna(inplace=True)

In [107]:
data.isna().sum()

season         0
match_id       0
venue          0
country        0
innings_id     0
name           0
runs           0
ballsFaced     0
fours          0
sixes          0
strikeRate     0
captain        0
isNotOut       0
runningOver    0
dtype: int64

In [108]:
len(data)

8664

In [124]:
data['strikeRate'] = data['strikeRate'].replace('-',0)

In [125]:
# Making out the features and label column

x = data.drop('strikeRate',axis=1)
y = data['strikeRate']

In [126]:
x.head()

,season,match_id,venue,country,innings_id,name,runs,ballsFaced,fours,sixes,captain,isNotOut,runningOver
0,2023.0,1359475,15,0,1,94,1.0,6.0,0.0,0.0,0,0,2.2
1,2023.0,1359475,15,0,1,290,92.0,50.0,4.0,9.0,0,0,17.1
2,2023.0,1359475,15,0,1,218,23.0,17.0,4.0,1.0,0,0,5.5
3,2023.0,1359475,15,0,1,55,7.0,6.0,1.0,0.0,0,0,7.4
4,2023.0,1359475,15,0,1,33,12.0,12.0,0.0,1.0,0,0,12.5

In [127]:
# Splitting the data

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [128]:
# Choosing the right model
# As we are going to predict the value so we use linearRegression

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

In [129]:
len(data)

8664

In [130]:
# Fit the model
model.fit(x_train,y_train)

RandomForestRegressor()

In [131]:
model.score(x_test,y_test)

0.9936201696629084